In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://postgres:superuser@localhost:5432/itversity

env: DATABASE_URL=postgresql://postgres:superuser@localhost:5432/itversity

In [3]:
%%sql

TRUNCATE TABLE orders

Done.

[]

In [4]:
import pandas as pd

In [ ]:
help(pd.read_csv)

In [5]:
 
def get_column_names(schemas, ds_name, sorting_key='column_position'):
  column_details = schemas[ds_name]
  columns = sorted(column_details, key= lambda col: col[sorting_key])
  return [col['column_name'] for col in columns]

In [7]:
import json

In [8]:
schemas = json.load(open('data/retail_db/schemas.json'))

In [18]:
ds_name = 'orders'

In [10]:
columns = get_column_names(schemas, 'orders')

In [21]:
df = pd.read_csv(f'data/retail_db/{ds_name}/part-00000', names=columns)

In [22]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df_reader = pd.read_csv(f'data/retail_db/{ds_name}/part-00000', names=columns, chunksize=10000)

In [13]:
type(df_reader)

pandas.io.parsers.readers.TextFileReader

In [23]:
df_list = list(df_reader)

In [27]:
df_list[-1]

       order_id             order_date  order_customer_id     order_status
60000     60001  2013-10-20 00:00:00.0               1376         COMPLETE
60001     60002  2013-10-20 00:00:00.0               6345  PENDING_PAYMENT
60002     60003  2013-10-20 00:00:00.0                329       PROCESSING
60003     60004  2013-10-20 00:00:00.0              10907          PENDING
60004     60005  2013-10-20 00:00:00.0               5156         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[8883 rows x 4 columns]

In [28]:
df_reader = pd.read_csv(f'data/retail_db/{ds_name}/part-00000', names=columns, chunksize=10000)

In [29]:
for idx, df in enumerate(df_reader):
  print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [30]:
conn_uri = 'postgresql://postgres:superuser@localhost:5432/itversity'

In [36]:
df_reader = pd.read_csv(f'data/retail_db/{ds_name}/part-00000', names=columns, chunksize=10000)

In [37]:
for idx, df in enumerate(df_reader):
  print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [40]:
for idx, df in enumerate(df_reader):
  print(f'Processing chunk {idx} with size {df.shape[0]} of {ds_name}')
  df.to_sql(
    'orders', 
    conn_uri,
    if_exists='append',
    index=False
  )

In [39]:
pd.read_sql(ds_name, conn_uri)

       order_id             order_date  order_customer_id     order_status
0         10001  2013-09-25 00:00:00.0                316  PENDING_PAYMENT
1         10002  2013-09-25 00:00:00.0               1530         COMPLETE
2         10003  2013-09-25 00:00:00.0               8099         COMPLETE
3         10004  2013-09-25 00:00:00.0               7768           CLOSED
4         10005  2013-09-25 00:00:00.0                541         COMPLETE
...         ...                    ...                ...              ...
58878     68879  2014-07-09 00:00:00.0                778         COMPLETE
58879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
58880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
58881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
58882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[58883 rows x 4 columns]

In [41]:
pd.read_sql(ds_name, conn_uri)

       order_id             order_date  order_customer_id     order_status
0         10001  2013-09-25 00:00:00.0                316  PENDING_PAYMENT
1         10002  2013-09-25 00:00:00.0               1530         COMPLETE
2         10003  2013-09-25 00:00:00.0               8099         COMPLETE
3         10004  2013-09-25 00:00:00.0               7768           CLOSED
4         10005  2013-09-25 00:00:00.0                541         COMPLETE
...         ...                    ...                ...              ...
58878     68879  2014-07-09 00:00:00.0                778         COMPLETE
58879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
58880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
58881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
58882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[58883 rows x 4 columns]

In [ ]:
pd.read_sql(ds_name)